table {
  width: 100%;
  background-color: #fff;
}

.paginator {
  background-color: #fff;
}

.mat-form-field {
  font-size: 14px;
  width: 20%;
}

.mat-elevation-z8 {
  background: #fff;
  border: 0.1px solid #80808024;
}
.addbutton {
  padding: 5px;
}
.btnicon {
  padding: 2px;
}
